.input {
  align-items: center;
  display: flex;
  position: relative;
  width: 90%;
}

.input__box {
  background-color: var(--gray);
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 5px var(--black);
  color: var(--black);
  font-size: 25px;
  padding: 20px 30px;
  transition: 0.2s;
  width: 100%;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0,0,0, 0.7);
  outline: none;
}

.input__submit {
  background-color: var(--green);
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px var(--black);
  color: var(--black);
  font-size: 15px;
  height: 50px;
  margin: 13px;
  position: absolute;
  right: 0px;
  transition: 0.2s all;
  width: 50px;
}