.todos {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--gray);
}

.container {
    display: flex;
    width: 95%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos__heading {
    font-size: 2em;
    color: var(--black);
}

.remove {
    background-color: var(--orange);
}

.active {
    background-color: var(--aqua);
}